// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

// $primary: #d97700;
// $secondary: rgb(34, 255, 0);
// $danger: #ff36ee;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;

// COLORS:
$grey: #f0f0f0;
$lgblue: #8cb8d1;
$dblue: #3e77aa;
$white: #ffffff;

// SIZES:
$xxl: 3.8rem;
$xl: 2.3rem;
$l: 2rem;
$m: 1.6rem;
$s: 1.4rem;
$xs: 1.2rem;
