@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "variables";
@import "./_base";
@import "main";
@import "../../node_modules/bootstrap/scss/bootstrap";

main {
    font: {
        weight: 600;
        size: $m;
    }
    margin-top: 3rem;
    display: flex;

    h2 {
        color: $dblue;
        font-size: $xl;
        padding: 1rem 0;
    }
    p {
        padding-left: 1rem;
        text-align: justify;
    }
}
@media (min-width: 992px) {
    p {
        line-height: $l;
    }
}
