@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'variables';
@import './_base';
@import 'main';
@import '../../node_modules/bootstrap/scss/bootstrap';

main {
  font: {
    weight: 600;
    size: $m;
  }
  margin-top: 3rem;
  display: flex;
  //   width: 1000px;

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    p {
      text-align: justify;
      margin-left: 22px;
    }
    div {
      align-items: center;
      h2 {
        color: $dblue;
        font-size: $xl;
      }
    }
  }
  @media (min-width: 992px) {
    section {
      display: grid;
      grid-template: 100px 1fr / repeat(2, 1fr);
      grid-template-areas:
        'header header'
        'mid1 mid2';
      #mid_head {
        grid-area: header;
      }
      .part1 {
        grid-area: mid1;
      }
      .part2 {
        grid-area: mid2;
        height: 100%;
      }
    }
  }
}
