@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "variables";
@import "./_base";
@import "main";
@import "../../node_modules/bootstrap/scss/bootstrap";

main {
  height: 100vh;
  font-size: $m;
  padding: 3rem 1rem;
  justify-content: center;
  article {
    h2 {
      text-decoration: underline;
      font-size: $xxl;
      color: $dblue;
      text-align: center;
    }
    ul {
      li {
        list-style-type: disc;
        a {
          text-decoration: none;
          color: $dblue;
        }
      }
    }
  }
  @media (min-width: 992px) {
    justify-content: flex-start;
    article {
      h2 {
        margin-bottom: 3rem;
      }
      p {
        margin-bottom: 3rem;
      }
      ul {
        li {
          line-height: 4rem;
        }
      }
    }
  }
}
